.event-table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 80vw;
  height: 15vw;
}

.MMM-HSEvents {
  width: 80%;
  height: 15vh;
}


.event-table td, .event-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.event-table th {
  background-color: #4CAF50;
  color: white;
}