/* MMM-HSEvents.css */

.event-wrapper {
  width: 70vw; /* Set the module width to 70% of the viewport width */
  height: auto; /* Set the height to auto to maintain aspect ratio */
  position: absolute;
  top: 200;
  left: 0;
}


.event-title {
  font-size: 1.5em; /* Increase the font size for the title */
  margin-bottom: 10px; /* Add margin at the bottom of the title */
}

.event-table {
  font-family: Arial, sans-serif; /* Set the font family */
  border-collapse: collapse; /* Collapse the borders */
  width: 80vw; /* Set the table width to 80vw */
  height: 15vw; /* Set the table height to 15vw */
  margin: 0 auto; /* Center the table horizontally */
}

.event-table td, .event-table th {
  border: 1px solid #007466; /* Add borders to the table cells */
  text-align: left; /* Align text to the left */
  padding: 8px; /* Add padding to the table cells */
}

.event-table th {
  background-color: #4CAF50; /* Add a background color to the header cells */
  color: white; /* Set the text color to white */
}
